 

<div class="container-fluid">
    <div class="row"> 
      <main role="main" class="col-md-10 ml-sm-auto col-lg-12 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Add Expense</h1>         
        </div>
       
        <form class="col-md-6 mx-auto col-lg-8 px-4">        

            <div class="form-group">
                <label for="category">Select category</label>
                <div class="input-group">
                <select name="" id="category" class="form-control">                  
                   <option *ngFor="let category of categories" value="{{category}}">{{category}}</option>
                </select>  
                
                <ng-template #content let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">Add new category</h4>
                      <button type="button" class="close" aria-label="Close" (click)="modal.close('Save click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="form-group">
                            <input type="text" value="" id="new_category" class="form-control" placeholder="Add Category">
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-dark" (click)="addCategory()" (click)="modal.close('Save click')">add</button>
                    </div>
                  </ng-template>

                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary btn-xs mx-3 my-auto" (click)="open(content)"> Add category</button>
               </span>  
              </div>            
            </div>
            <div class="form-group">
                <label for="date">Enter date</label>
                <input type="date" value="" id="date" class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label for="amount">Enter Amount</label>
                <input type="number" value="" id="amount" class="form-control" placeholder="$">
            </div>

            <button type="button" class="btn btn-primary" (click)="addExpense()">Add</button>
            <a routerLink="/" class="btn btn-secondary mx-3" role="button" aria-pressed="true">Cancel</a>

            <div class="form-group" id="success" style="display:none;color:green;">
               <p>Added Succesfully!</p>              
                  <div class="btn-group mr-2">
                    <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="">View Dashboard</button>            
                  </div>        
                
            </div>
           
        </form>
      </main>
    </div>
  </div>
  
